body {
  background-color: lightblue;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dice {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);  
}

#dice:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
  font-family: 'Cherry Cream Soda', cursive;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 2px 2px lightgrey;
}

.jumbotron .container {
    position:relative;
    z-index:2;
}

#pageHeader {
    margin-bottom: 0px;
    opacity: 0.5;
    color: #fff;
    background: #000 url(../images/table-food.jpg) top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

#user-login {
  position:absolute;
  top:10px;
  right:0;
  z-index:3;
  width: auto;
}

#username {
  font-weight: bolder;
  font-style: italic;
}

button:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
}

#buttonChoice1 {
  margin-right:1px;
  width: 30%;
}

#buttonChoice2 {
  margin-right:1px;
  width: 30%;
}

#buttonChoice3 {
  margin-right:1px;
  width: 30%;
}


footer {
  padding: 30px 0;
  margin-top: 50px;
  clear: both;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-align: center;
  background: linear-gradient(rgb(210, 210, 210), rgb(150, 150, 150));
  box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.2), 5px 5px 15px 15px rgba(0, 0, 0, 0.19);
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

#map {
  display: none; 
  position: initial;
  height: 250px;
  width: 250px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }

  #user-login {
    position:absolute;
    top:125px;
    right:115px;
    z-index:3;
    width: auto;
  }
  
  #zipCodeCard {
    width:100%;
    margin-bottom: 10px;
  }
  #buttonChoice1 {
    margin-right:3px;
    margin-left:0px;
    width: 33%;
    padding-left: 3px;
    padding-right:3px;
  }
  #buttonChoice2 {
    margin-right:3px;
    width: 33%;
    padding-left: 3px;
    padding-right: 3px;
  }
  #buttonChoice3 {
    margin-right:0px;
    width: 30%;
    padding-left: 2px;
    padding-right: 2px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  #zipCodeCard {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  #priceRangeCard {
    margin-bottom: 10px;
  }
  #user-login {
    position:absolute;
    top:130px;
    right:120px;
    z-index:3;
    width: auto;
  }
  #sidebar {
    position:absolute;
    bottom:30px;
    z-index:6;
  }
  #buttonChoice1 {
    margin-right:6px;
    margin-left:0px;
    width: 33%;
    padding-left: 3px;
    padding-right:3px;
  }
  #buttonChoice2 {
    margin-right:6px;
    width: 33%;
    padding-left: 3px;
    padding-right: 3px;
  }
  #buttonChoice3 {
    margin-right:0px;
    width: 30%;
    padding-left: 2px;
    padding-right: 2px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #zipCodeCard {
    margin-bottom: 10px;
  }
  #priceRangeCard {
    margin-bottom: 10px;
  }
  #user-login {
    position:absolute;
    top:160px;
    right:200px;
    z-index:3;
    width: auto;
  }
  #sidebar {
    position:absolute;
    bottom:30px;
    z-index:6;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1150px) {
  #zipCodeCard {
    margin-bottom: 10px;
  }
  #priceRangeCard {
    margin-bottom: 10px;
  }
  #user-login {
    position:absolute;
    top:160px;
    right:325px;
    z-index:3;
    width: auto;
  }
  #sidebar {
    position:absolute;
    bottom:30px;
    z-index:6;
  }
}

/* X-Large devices (laptops/desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  #user-login {
    position:absolute;
    top:10px;
    right:0;
    z-index:3;
    width: auto;
  }
}