#pageHeader {
    background-image: url(../images/table-food.jpg);
    font-family: 'Cherry Cream Soda', cursive;
    opacity:0.5;
};

#header-title {
    opacity: 1;
}

#zipCode {
    text-align: center;
}


